---
import { Counter } from "../components/Counter";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>React counter</title>
    </head>
    <body>
        <h1>React counter</h1>
        <Counter client:load />
    </body>
</html>

<style>
    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-color: aliceblue;
    }
</style>
